<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="leaflet/leaflet.css" /> -->
    <link rel="stylesheet" href = "{{ url_for('static', filename='bg.css') }}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <aside class="left">
        <h1> Gardening Helper! </h1>
        <p1> Click the point you want to save to your profile, or allow us to grab your location</p1>
    </aside>
    <button onclick=getLocation()>SUBMIT!</button>
    <div id="pin-aside">
    <div id="map">
    <script src= "{{url_for('static',filename='leafbase copy.js')}}"></script>
    </div>
</div>

    
</body>
</html>